* {
    /* border: solid 1px black; */
    box-sizing: border-box;
    vertical-align: top;
    font-family: "Open Sans", sans-serif;
    font-family: "Satisfy", cursive;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1460013477427-b0cce3e30151?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.key {
    border: solid 2px #d1d0d0;
    display: inline-block;
    text-align: center;
    transition: all .07s;
    width: 120px;
    margin: 9px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #b4aaaa;
}
  
.key kbd {
    color: hsl(0, 0%, 97%);
    margin: 20px;
    font-size: 27px;
}
.key span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: hsl(0, 2%, 20%);
    text-shadow: 0.2em 0.1em 0.3em #f1c6b0;
}
  

